header
    div(class="container")
        div
            a(href="#") Logo Ici
            div(class="auth not-auth")
                a(href="#") Se Connecter
            //- div(class="auth is-auth")
            //-     img(src="#", alt="#")
            //-     p Default User
            //-     p Status : Enseignant
            //-     a(href="#") Se Déconnecter
        nav
            ul
                li
                    a(href="#") Acceuil
                li
                    a(href="#") Qui-nous
                li
                    a(href="#") Formation
                li
                    a(href="#") Contact
        
