//- Index Page
<!DOCTYPE html>
html(lang="en")
    include ../Global/head.pug
    body
        include ../Sections/header.pug
        main
            include ../Sections/feauturedPosts.pug
            include ../Sections/main.pug
        include ../Sections/footer.pug
